*{
    margin: 0;
    padding: 0;
}
.navbar{
    --bs-navbar-toggler-font-size: 0.5rem;
    --bs-navbar-padding-y: 0rem;
}
body {
    font-family: 'Kanit', sans-serif;
    background-repeat: no-repeat;
    background-color: grey;
    background-size: 100%;
    margin: auto;
}
#fondo{
    background-image: url(cta_background_03-compressor.jpg);
    background-size: cover;
    padding-bottom: 16%;
}
#headerBox{
    margin-left: 5vw;
    padding-top: 7vh;
}
#headerPrincipal {
    font-size: 4vw;
    padding-top: 12%;
}
.headerP {
    font-size: 2vw;
    margin-left: 2%;
}
.d-block {
    width: 100%;
}
.carousel-caption{
    background-color: rgb(33, 37, 41);
    padding: 1vh;
    width: 30rem;
    margin: auto;
    border-radius: 0.5rem;
}
.carousel-header{
    font-size: 1rem;
}