body {
    font-family: 'Kanit', sans-serif;
    background-image: url(cta_background_03-compressor.jpg);
    background-repeat: no-repeat;
    background-color: grey;
    background-size: 100%;

}
.navbar{
    height: 8%;
}

h2 {
    margin-left: 4%;
    margin-top: 13%;
    font-size: 4vw;
}

.header2 {
    margin-left: 6%;
    font-size: 2vw;
    margin-bottom: 15%
}

.carousel-image {
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    border-radius: 5px;
}

.carousel-caption {
    background-color: rgb(33, 37, 41);

    width: 25%;
    height: 22%;
    margin: auto;
    border-radius: 8px;
    font-size: 1vw;
}
.carousel-text{
    font-size: 1.3vw;
}